<div class="container is-max-desktop is-max-destination">
  <form action="/users/<%= @user.id %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <h1 class="title">Edit Profile</h1>

    <input autofocus class="input mb-4" name="first_name" placeholder="first name" required type="text" value="<%= @user.first_name %>">
    <input class="input mb-4" name="last_name" placeholder="last name" require type="text" value="<%= @user.last_name %>">
    <input class="input mb-4" name="email" placeholder="email" required type="email" value="<%= @user.email %>">

    <div class="is-grouped has-text-right">
      <a class="button is-danger is-outlined" href="/users/<%= @user.id %>">
        <span>Discard</span>
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </a>
      <button class="button is-success" type="submit">
        <span>Update</span>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      </button>
    </div>
  </form>

  <hr style="border-bottom: 1px solid #ccc">

  <form action="/users/<%= @user.id %>/change_password" method="post">
    <input name="_method" type="hidden" value="patch">

    <h1 class="title">Change Password</h1>

    <input class="input mb-4" name="current_password" placeholder="current password" required type="password">
    <input class="input mb-4" name="new_password" placeholder="new password" required type="password">
    <input class="input mb-4" name="verify_password" placeholder="verify password" required type="password">

    <div class="is-grouped has-text-right">
      <a class="button is-danger is-outlined" href="/users/<%= @user.id %>">
        <span>Discard</span>
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </a>
      <button class="button is-success" type="submit">
        <span>Change</span>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      </button>
    </div>
  </form>

  <hr style="border-bottom: 1px solid #f14668">

  <form action="/users/<%= @user.id %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button class="button is-danger" type="submit">
      <span>Delete Account</span>
      <span class="icon is-small">
        <i class="fas fa-trash"></i>
      </span>
    </button>
  </form>
</div>