<div class="container is-max-desktop is-max-destination">
  <a class="title" href="/destinations/<%= @destination.id %>"><%= @destination.location %></a>

  <figure class="image mt-4">
    <img alt="Destination Image" src="<%= @destination.image.url %>">
    <figcaption class="has-text-centered is-italic has-text-weight-light"><%= @destination.caption %></figcaption>
  </figure>

  <div class="container has-text-centered my-4">
    <a class="button is-primary is-light" href="https://google.com/travel/flights/?q=Interlaken" target="_blank">
      <span class="icon">
        <i class="fas fa-plane"></i>
      </span>
      <span>Flights</span>
    </a>
    <a class="button is-link is-light" href="https://google.com/maps/place/Interlaken,+Switzerland" target="_blank">
      <span class="icon">
        <i class="fas fa-map-marker-alt"></i>
      </span>
      <span>Map</span>
    </a>
  </div>

  <hr class="hr">

  <div class="content description"><%= @destination.description %></div>

  <iframe class="map" src="<%= @destination.map_embed_src %>"></iframe>
</div>